In [1]:
!py -m pip install pandas
!py -m pip install numpy

Requirement already satisfied: pandas in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in c:\users\elohorefere\appdata\local\programs\python\python313\lib\site-packages (2.3.5)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# load data
data = pd.read_excel("C:/Users/ElohorEfere/Documents/DATA ANALYTICS/PYTHON/PANDAS PRACTISE DATASET.xlsx")
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [4]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing Values:")
missing_values

Missing Values:

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

In [8]:
# Deal with missing values in Date Column
data['Date'] = data['Date'].ffill()

In [9]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing Values:")
missing_values

Missing Values:

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [10]:
# Deal with missing values in Calories Column
imputer = SimpleImputer(strategy = 'median')
imputer.fit(data[['Calories']])
data[['Calories']] = imputer.transform(data[['Calories']])

In [11]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing Values:")
missing_values

Missing Values:

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [12]:
# Check for Data Types
data.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [13]:
# Reassign Data Types
data['Date'] = data['Date'].astype('datetime64[ns]')

In [14]:
# Check for Data Types
data.dtypes

Duration             int64
Date        datetime64[ns]
Pulse                int64
Maxpulse             int64
Calories           float64
dtype: object

In [15]:
# Check for Duplicates
duplicates = data.duplicated()
data[duplicates]

    Duration       Date  Pulse  Maxpulse  Calories
12        60 2020-12-12    100       120     250.7

In [16]:
# Remove Duplicates
data.drop_duplicates(inplace = True)

In [17]:
# Check for Duplicates
duplicates = data.duplicated()
data[duplicates]

Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories]
Index: []